@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}


@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');
}


@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 600px;
    background-color: #fdde7e;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.cart {
    width: 360px;
    height: 440px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease;
}
.cup{
    margin-top: -10px;
}
.price {
    font-size: 60px;
    color: rgb(2, 153, 91);
    font-weight: bold;
    line-height: 0.043;
    text-align: center;
    font-family: 'Miso Bold', sans-serif;
}

.name {
    font-size: 56px;
    font-family: Myriad, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 0.429;
    text-align: center;
}

.description {
    font-size: 20px;
    font-family: Myriad, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 0.429;
    text-align: center;
    opacity: 0.76;
    margin-top: 20px;
}
.cart:hover{
    transform: scale(1.1);
    box-shadow: 0 10 10 black;
    transition: transform 1s;
}
.cart:hover img{
   
}